# Rust
/target
core/target
**/target

# Cargo
Cargo.lock

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.iml

# Flutter (future)
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool
.packages
.pub-cache
.pub
